@use "./variables" as *;

.body {
    display: flex;
    flex-direction: column;
    background-color: $primary-colour;
    color: $secondary-colour;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;

    .welcome-msg {
        font-size: 20px;
    }

    .short-description {
        font-size: 40px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px 0px;

    .my-img {
        padding: 5px;
        border-radius: 50px;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .about-me {
        font-size: 30px;
        text-align: center;
    }

}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 30px 0px;

    .skill-deck  {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;

        .skill-img {
            height: 100x;
            padding: 5px
        }
    }

}

.projects {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    margin: auto;

    .my-projects {
        font-size: 30px;
        text-align: center;
    }

    .individual-card {
        margin: auto;

        .tech-stack {
            font-size: 16px;
            padding-bottom: 2px;
            padding-top: 25px;
        }

        .project-name {
            font-size: 24px;
            padding-bottom: 2px;
        }

        .project-description {
            padding-bottom: 20px;
            margin: auto;
        }

        .project-btn {
            background-color: $primary-colour;
            color: $quaternary-colour;
            text-decoration: none;
            border-radius: 10px;
            padding: 10px 15px;
            height: fit-content;
            margin-right: 10px;
        }
    }
}




@media screen and (min-width: 768px) {
    .body {
        display: flex;
    }

    .main {
        display: flex;
    }

    .skills, .skill-deck {
        display: flex;
        text-align: center;
    }
}