@use "./variables" as *;

.nav {
  display: flex;
  justify-content: space-between;
  background-color: $primary-colour;
  color: $secondary-colour;
  padding-bottom: 30px;
  margin: 10px;
  display: none;

  .nav-header {
    font-size: 40px;
    padding: 0px 0px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 50px;
    align-items: center;

    .list-items {
      padding: 15px;
    }

    .button {
      background-color: $primary-colour;
      color: $secondary-colour;
      text-decoration: none;
      border-radius: 10px;
      padding: 10px 10px;
      height: fit-content;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-colour;
  color: $secondary-colour;
  padding: 20px 20px;
  align-items: center;

  p {
    color: $primary-colour;
  }

  .social-media {
    text-decoration: none;
    list-style: none;
    display: flex;

    .social-media-icons {
      padding: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;

    .nav-list {
      padding: 5px;
    }
  }
}
