.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding-bottom: 30px;
  margin: 10px;
  display: none;
}
.nav .nav__header {
  font-size: 40px;
  padding: 0px 0px;
}
.nav .nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  padding: 50px;
  align-items: center;
}
.nav .nav__list .nav__list-items {
  padding: 15px;
}
.nav .nav__list .nav__list-items a:link,
.nav .nav__list .nav__list-items a:visited {
  text-decoration: none;
  color: black;
}
.nav .nav__list .nav__button {
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 10px;
  height: -moz-fit-content;
  height: fit-content;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: black;
  padding: 20px 20px;
  align-items: center;
}
.footer .footer__email {
  color: white;
}
.footer .footer__social-media {
  text-decoration: none;
  list-style: none;
  display: flex;
}
.footer .footer__social-media .footer__social-media-icons {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav .nav__list {
    padding: 5px;
  }
}
.body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}
.header .header__welcome-msg {
  font-size: 20px;
}
.header .header__short-description {
  font-size: 40px;
}
.header .header__intro-image {
  display: none;
}

.about-me {
  font-size: 50px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px 0px;
}
.about .about__my-img {
  padding: 5px;
  border-radius: 50px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
.skills .skills__header {
  font-size: 50px;
}
.skills .skills__skill-deck {
  display: flex;
  flex-wrap: wrap;
}
.skills .skills__skill-deck .skills__skill-img {
  width: 33.3333333333%;
  padding: 10%;
}

.projects {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.projects .projects__my-projects {
  font-size: 50px;
  text-align: center;
}
.projects .projects__individual-card {
  border-style: das;
  padding-top: 30px;
}
.projects .projects__individual-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.projects .projects__individual-card .tech-used {
  font-size: 16px;
  padding-bottom: 2px;
  padding-top: 25px;
}
.projects .projects__individual-card .project-name {
  font-size: 24px;
  padding-bottom: 2px;
}
.projects .projects__individual-card .project-description {
  padding-bottom: 20px;
  margin: auto;
}
.projects .projects__individual-card .project-btn {
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 15px;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .body {
    display: flex;
  }
  .main {
    display: flex;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header .header__welcome-msg {
    font-size: 30px;
  }
  .header .header__short-description {
    font-size: 50px;
  }
  .header .header__intro-image {
    display: block;
    overflow: auto;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about .about__description {
    padding: 10%;
    font-size: 20px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
  }
  .skills .skills__skill-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .skills .skills__skill-img {
    margin: auto;
    padding: 5%;
  }
  .projects {
    display: flex;
  }
  .projects .projects__project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects .projects__individual-card {
    width: 33.3333333333%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=styles.css.map */